@import url("https://fonts.googleapis.com/css2?family=Bodoni+Moda+SC:ital,opsz,wght@0,6..96,400..900;1,6..96,400..900&display=swap");
/*Display Type Face*/
@import url("https://fonts.googleapis.com/css2?family=Mali:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");
/*Body Type Face Fun*/
@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
/*Body Type Face Formal*/
:root {
  --bg-color: #d9d2e5 /*dusty purple*/;
  --text-color: ##feffff /*off white*/;
  --bg-box-color: #114232 /* dark green*/;
}
body {
  background-color: var(--bg-color);
  color: var(--text-color);
}

/* Hero Section */
.hero-section {
  background: url(../images/bluecat.webp);
  background-size: cover;
  background-position: 50%, 50%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--highligh-color-two);
}

.bg-light {
  background-color: red;
}

.hero-section h1 {
  font-weight: 700;
  font-family: Tektur;
  color: var(--bg-color);
}
h2,
h3,
h4,
h5 {
  font-family: Tektur;
  font-size: 2rem;
}
.hero-section .lead {
  font-size: 1.5rem;
  font-family: Mali;
  color: var(--bg-color);
}

.work-card img {
  height: 300px;
  object-fit: cover;
  border-radius: 0;
}
.work-card {
  font-family: Mali;
  border-radius: 10px;
  border: none;
}
.btn {
  background-color: var(--text-color);
  border-color: var(--text-color);
}
.btn:hover {
  background-color: var(--highligh-color-one);
  border-color: var(--highligh-color-one);
}
h2 {
  font-weight: 700;
  color: var(--text-color);
}
.modal-body img {
  width: 92%;
}
